In [8]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Loading data files

df_2018 = pd.read_excel('./data/H-1B_Disclosure_Data_FY2018-Q3.xlsx')

In [10]:
# Now that data is loaded, let's see the brief structure of the data with .head()!

df_2018.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-15279-248712,CERTIFIED-WITHDRAWN,2015-10-06,2017-10-01,H-1B,2015-11-15,2017-11-14,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,Y,NaN,CAMBRIDGE,MIDDLESEX,MA,02139,2015-10-13
1,I-200-16134-779506,CERTIFIED-WITHDRAWN,2016-05-13,2017-10-01,H-1B,2016-09-01,2019-08-31,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,NaN,NaN,CAMBRIDGE,MIDDLESEX COUNTY,MA,02139,2016-05-19
2,I-200-16309-239165,CERTIFIED-WITHDRAWN,2016-11-04,2017-10-01,H-1B,2016-12-01,2017-11-30,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,Y,NaN,CAMBRIDGE,MIDDLESEX,MA,02139,2016-11-10
3,I-200-16363-692687,CERTIFIED-WITHDRAWN,2016-12-28,2017-10-01,H-1B,2017-02-01,2018-01-31,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,Y,NaN,CAMBRIDGE,MIDDLESEX,MA,02139,2017-01-04
4,I-200-17055-511599,CERTIFIED-WITHDRAWN,2017-02-24,2017-10-01,H-1B,2017-06-01,2018-05-31,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,Y,NaN,CAMBRIDGE,MIDDLESEX,MA,02139,2017-03-02

In [5]:
# What are the VISA Classes

In [6]:
df_2018['VISA_CLASS'].value_counts()

H-1B               530296
E-3 Australian       9550
H-1B1 Singapore       973
H-1B1 Chile           736
Name: VISA_CLASS, dtype: int64

In [14]:
df_2018.loc[0, 'EMPLOYMENT_START_DATE']

Timestamp('2015-11-15 00:00:00')

In [15]:
df_2018.loc[df_2018['VISA_CLASS']=='H-1B1 Singapore', 'EMPLOYMENT_START_DATE']

AttributeError: 'Series' object has no attribute 'date'

In [11]:
def construct_time_based_histogram(series):
    df = pd.DataFrame(series, columns=["date"])
    df.groupby([df["date"].dt.year, df["date"].dt.month]).count().plot(kind="bar")

In [12]:
construct_time_based_histogram(df_2018.loc[df_2018['VISA_CLASS']=='H-1B1 Singapore', 'EMPLOYMENT_START_DATE'])

AttributeError: Can only use .dt accessor with datetimelike values

In [33]:
df_2018.loc[df_2018['VISA_CLASS']=='H-1B1 Singapore', 'EMPLOYMENT_START_DATE'].values

array(['2017-11-15T00:00:00.000000000', '2017-10-05T00:00:00.000000000',
       '2017-10-09T00:00:00.000000000', '2017-10-16T00:00:00.000000000',
       '2017-10-05T00:00:00.000000000', '2017-10-30T00:00:00.000000000',
       '2015-07-14T00:00:00.000000000', '2018-02-21T00:00:00.000000000',
       '2017-09-28T00:00:00.000000000', '2017-10-09T00:00:00.000000000',
       '2017-10-10T00:00:00.000000000', '2017-10-23T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2017-11-15T00:00:00.000000000',
       '2018-01-31T00:00:00.000000000', '2017-10-18T00:00:00.000000000',
       '2017-10-16T00:00:00.000000000', '2017-10-11T00:00:00.000000000',
       '2017-10-19T00:00:00.000000000', '2015-07-01T00:00:00.000000000',
       '2017-11-11T00:00:00.000000000', '2017-10-30T00:00:00.000000000',
       '2018-01-24T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2017-11-02T00:00:00.000000000', '2017-10-20T00:00:00.000000000',
       '2017-12-24T00:00:00.000000000', '2017-11-27T00:00:00.000000000',
       '2017-10-25T00:00:00.000000000', '2017-10-04T00:00:00.000000000',
       '2017-10-23T00:00:00.000000000', '2017-10-12T00:00:00.000000000',
       '2017-10-23T00:00:00.000000000', '2017-10-16T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-10-10T00:00:00.000000000',
       '2018-01-15T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-10-23T00:00:00.000000000', '2017-10-06T00:00:00.000000000',
       '2017-12-15T00:00:00.000000000', '2018-03-16T00:00:00.000000000',
       '2017-10-23T00:00:00.000000000', '2017-10-30T00:00:00.000000000',
       '2017-11-12T00:00:00.000000000', '2017-10-11T00:00:00.000000000',
       '2017-10-23T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2018-01-08T00:00:00.000000000',
       '2017-11-13T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2017-10-25T00:00:00.000000000',
       '2017-10-25T00:00:00.000000000', '2017-11-29T00:00:00.000000000',
       '2017-10-17T00:00:00.000000000', '2017-10-17T00:00:00.000000000',
       '2018-01-23T00:00:00.000000000', '2017-10-17T00:00:00.000000000',
       '2018-01-22T00:00:00.000000000', '2017-11-27T00:00:00.000000000',
       '2018-01-15T00:00:00.000000000', '2017-10-20T00:00:00.000000000',
       '2018-02-20T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2017-10-20T00:00:00.000000000', '2017-11-05T00:00:00.000000000',
       '2017-10-20T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2018-01-08T00:00:00.000000000', '2017-11-15T00:00:00.000000000',
       '2017-08-24T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-29T00:00:00.000000000', '2018-02-15T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2018-02-10T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-10-19T00:00:00.000000000',
       '2017-10-19T00:00:00.000000000', '2017-10-26T00:00:00.000000000',
       '2017-12-18T00:00:00.000000000', '2017-11-06T00:00:00.000000000',
       '2017-11-06T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2018-03-21T00:00:00.000000000',
       '2018-01-08T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-10T00:00:00.000000000',
       '2018-04-18T00:00:00.000000000', '2016-11-29T00:00:00.000000000',
       '2017-06-02T00:00:00.000000000', '2017-10-30T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2017-11-07T00:00:00.000000000',
       '2018-01-25T00:00:00.000000000', '2018-02-15T00:00:00.000000000',
       '2017-11-22T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2018-03-28T00:00:00.000000000', '2018-01-31T00:00:00.000000000',
       '2017-11-27T00:00:00.000000000', '2017-10-26T00:00:00.000000000',
       '2017-10-26T00:00:00.000000000', '2017-11-06T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-04-18T00:00:00.000000000',
       '2018-02-20T00:00:00.000000000', '2017-10-18T00:00:00.000000000',
       '2017-11-06T00:00:00.000000000', '2017-06-06T00:00:00.000000000',
       '2017-11-06T00:00:00.000000000', '2018-02-05T00:00:00.000000000',
       '2017-11-06T00:00:00.000000000', '2017-12-04T00:00:00.000000000',
       '2018-04-10T00:00:00.000000000', '2017-11-22T00:00:00.000000000',
       '2017-11-13T00:00:00.000000000', '2018-01-03T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2017-11-13T00:00:00.000000000',
       '2017-11-13T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2017-11-08T00:00:00.000000000',
       '2017-12-29T00:00:00.000000000', '2018-02-15T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2017-12-02T00:00:00.000000000',
       '2017-12-04T00:00:00.000000000', '2017-11-13T00:00:00.000000000',
       '2018-01-31T00:00:00.000000000', '2017-11-20T00:00:00.000000000',
       '2017-12-18T00:00:00.000000000', '2018-03-27T00:00:00.000000000',
       '2017-12-04T00:00:00.000000000', '2018-04-27T00:00:00.000000000',
       '2017-12-25T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2017-11-10T00:00:00.000000000', '2017-11-27T00:00:00.000000000',
       '2018-02-12T00:00:00.000000000', '2017-11-20T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2016-08-10T00:00:00.000000000',
       '2017-11-15T00:00:00.000000000', '2018-01-11T00:00:00.000000000',
       '2015-01-05T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2017-11-15T00:00:00.000000000', '2017-12-10T00:00:00.000000000',
       '2017-12-11T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
       '2018-01-02T00:00:00.000000000', '2018-01-02T00:00:00.000000000',
       '2018-01-03T00:00:00.000000000', '2018-01-02T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2017-12-02T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
       '2017-10-01T00:00:00.000000000', '2018-04-18T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2017-12-11T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2016-09-30T00:00:00.000000000', '2018-02-15T00:00:00.000000000',
       '2016-06-12T00:00:00.000000000', '2017-10-02T00:00:00.000000000',
       '2018-05-30T00:00:00.000000000', '2017-12-11T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2017-12-11T00:00:00.000000000',
       '2018-02-22T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
       '2017-12-05T00:00:00.000000000', '2017-12-10T00:00:00.000000000',
       '2017-11-29T00:00:00.000000000', '2017-11-29T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
       '2017-12-16T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2017-12-18T00:00:00.000000000', '2017-12-15T00:00:00.000000000',
       '2017-12-18T00:00:00.000000000', '2018-01-02T00:00:00.000000000',
       '2017-12-18T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2017-12-08T00:00:00.000000000',
       '2018-02-22T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-04-14T00:00:00.000000000', '2018-01-02T00:00:00.000000000',
       '2017-12-20T00:00:00.000000000', '2017-12-10T00:00:00.000000000',
       '2017-12-18T00:00:00.000000000', '2018-01-03T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2017-12-07T00:00:00.000000000',
       '2017-12-18T00:00:00.000000000', '2018-01-08T00:00:00.000000000',
       '2018-04-12T00:00:00.000000000', '2017-12-15T00:00:00.000000000',
       '2017-12-16T00:00:00.000000000', '2017-12-16T00:00:00.000000000',
       '2018-01-20T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-05-15T00:00:00.000000000', '2018-03-07T00:00:00.000000000',
       '2017-12-08T00:00:00.000000000', '2017-12-08T00:00:00.000000000',
       '2017-12-20T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2018-01-02T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2017-11-30T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2017-12-21T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-01-28T00:00:00.000000000',
       '2017-12-19T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2017-12-21T00:00:00.000000000', '2018-02-06T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2017-12-25T00:00:00.000000000',
       '2018-05-15T00:00:00.000000000', '2018-06-15T00:00:00.000000000',
       '2018-01-15T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2017-12-27T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2017-12-15T00:00:00.000000000',
       '2018-06-12T00:00:00.000000000', '2016-11-18T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-01-07T00:00:00.000000000',
       '2018-01-04T00:00:00.000000000', '2018-01-02T00:00:00.000000000',
       '2018-01-02T00:00:00.000000000', '2017-12-22T00:00:00.000000000',
       '2018-01-07T00:00:00.000000000', '2018-01-14T00:00:00.000000000',
       '2017-12-25T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2017-12-27T00:00:00.000000000', '2018-05-12T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2017-12-25T00:00:00.000000000',
       '2017-12-28T00:00:00.000000000', '2017-12-26T00:00:00.000000000',
       '2017-12-26T00:00:00.000000000', '2017-12-26T00:00:00.000000000',
       '2018-01-02T00:00:00.000000000', '2017-12-21T00:00:00.000000000',
       '2018-06-15T00:00:00.000000000', '2018-01-02T00:00:00.000000000',
       '2018-01-18T00:00:00.000000000', '2018-05-09T00:00:00.000000000',
       '2018-03-09T00:00:00.000000000', '2018-01-02T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-01-04T00:00:00.000000000',
       '2018-01-04T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-02-05T00:00:00.000000000',
       '2018-01-10T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-03-02T00:00:00.000000000', '2017-03-23T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2018-01-26T00:00:00.000000000',
       '2018-01-10T00:00:00.000000000', '2016-09-01T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2017-07-01T00:00:00.000000000',
       '2017-07-05T00:00:00.000000000', '2017-10-02T00:00:00.000000000',
       '2018-01-10T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-01-20T00:00:00.000000000', '2018-01-22T00:00:00.000000000',
       '2018-01-13T00:00:00.000000000', '2018-06-30T00:00:00.000000000',
       '2018-01-13T00:00:00.000000000', '2018-01-13T00:00:00.000000000',
       '2018-01-13T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2018-01-16T00:00:00.000000000', '2018-02-10T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-02-15T00:00:00.000000000',
       '2018-01-17T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-02-05T00:00:00.000000000', '2018-01-19T00:00:00.000000000',
       '2018-02-19T00:00:00.000000000', '2018-01-10T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2016-09-19T00:00:00.000000000', '2018-01-19T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2018-01-19T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-07-13T00:00:00.000000000',
       '2018-02-24T00:00:00.000000000', '2018-01-20T00:00:00.000000000',
       '2017-03-27T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2018-06-04T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2016-03-17T00:00:00.000000000', '2017-04-06T00:00:00.000000000',
       '2018-02-05T00:00:00.000000000', '2018-07-01T00:00:00.000000000',
       '2018-01-25T00:00:00.000000000', '2018-06-21T00:00:00.000000000',
       '2018-01-29T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-03-15T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-01-22T00:00:00.000000000', '2018-04-17T00:00:00.000000000',
       '2018-01-22T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-07-04T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-01-29T00:00:00.000000000', '2018-06-12T00:00:00.000000000',
       '2018-01-19T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2018-01-29T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2018-02-23T00:00:00.000000000', '2018-07-10T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-01-24T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-02-08T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-02-02T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-02-05T00:00:00.000000000',
       '2018-02-12T00:00:00.000000000', '2018-02-02T00:00:00.000000000',
       '2018-02-02T00:00:00.000000000', '2018-02-02T00:00:00.000000000',
       '2018-02-02T00:00:00.000000000', '2018-06-30T00:00:00.000000000',
       '2018-02-02T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-02-02T00:00:00.000000000', '2018-02-02T00:00:00.000000000',
       '2018-02-09T00:00:00.000000000', '2018-01-30T00:00:00.000000000',
       '2018-01-30T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-04-16T00:00:00.000000000', '2018-02-21T00:00:00.000000000',
       '2018-04-30T00:00:00.000000000', '2018-03-12T00:00:00.000000000',
       '2018-02-05T00:00:00.000000000', '2018-02-26T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-02-05T00:00:00.000000000',
       '2018-02-13T00:00:00.000000000', '2017-02-06T00:00:00.000000000',
       '2018-06-29T00:00:00.000000000', '2018-02-08T00:00:00.000000000',
       '2018-03-19T00:00:00.000000000', '2018-03-03T00:00:00.000000000',
       '2018-02-10T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2018-02-21T00:00:00.000000000', '2018-07-20T00:00:00.000000000',
       '2018-02-05T00:00:00.000000000', '2018-07-12T00:00:00.000000000',
       '2018-02-21T00:00:00.000000000', '2018-02-10T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-02-19T00:00:00.000000000', '2018-04-02T00:00:00.000000000',
       '2018-02-23T00:00:00.000000000', '2018-07-10T00:00:00.000000000',
       '2017-06-19T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-03-12T00:00:00.000000000', '2018-03-12T00:00:00.000000000',
       '2018-02-20T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-02-13T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2018-02-21T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2018-03-05T00:00:00.000000000',
       '2018-03-09T00:00:00.000000000', '2017-10-31T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2018-08-07T00:00:00.000000000',
       '2018-04-15T00:00:00.000000000', '2018-03-15T00:00:00.000000000',
       '2018-05-20T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-02-15T00:00:00.000000000', '2018-03-12T00:00:00.000000000',
       '2017-11-16T00:00:00.000000000', '2018-02-26T00:00:00.000000000',
       '2018-04-09T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2017-02-01T00:00:00.000000000',
       '2017-06-01T00:00:00.000000000', '2018-03-02T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-05-07T00:00:00.000000000', '2018-02-26T00:00:00.000000000',
       '2018-06-29T00:00:00.000000000', '2018-03-17T00:00:00.000000000',
       '2018-03-05T00:00:00.000000000', '2017-03-15T00:00:00.000000000',
       '2018-03-13T00:00:00.000000000', '2018-05-31T00:00:00.000000000',
       '2018-03-02T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-03-05T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2018-03-06T00:00:00.000000000',
       '2018-08-24T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-06-05T00:00:00.000000000',
       '2018-03-19T00:00:00.000000000', '2017-08-14T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-05-31T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-03-15T00:00:00.000000000', '2018-03-24T00:00:00.000000000',
       '2018-04-12T00:00:00.000000000', '2018-06-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-07-20T00:00:00.000000000',
       '2018-03-05T00:00:00.000000000', '2018-03-05T00:00:00.000000000',
       '2018-02-28T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-03-27T00:00:00.000000000', '2018-03-10T00:00:00.000000000',
       '2018-04-18T00:00:00.000000000', '2018-08-31T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2018-03-08T00:00:00.000000000',
       '2018-06-20T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-04-19T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-03-12T00:00:00.000000000', '2018-03-24T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-06-30T00:00:00.000000000',
       '2018-04-24T00:00:00.000000000', '2018-04-15T00:00:00.000000000',
       '2018-03-14T00:00:00.000000000', '2018-04-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-03-19T00:00:00.000000000', '2018-03-19T00:00:00.000000000',
       '2018-04-19T00:00:00.000000000', '2018-04-18T00:00:00.000000000',
       '2018-04-07T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-04-20T00:00:00.000000000', '2018-04-01T00:00:00.000000000',
       '2018-03-17T00:00:00.000000000', '2018-09-11T00:00:00.000000000',
       '2018-08-15T00:00:00.000000000', '2018-02-05T00:00:00.000000000',
       '2018-03-22T00:00:00.000000000', '2018-03-13T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-04-23T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-03-19T00:00:00.000000000', '2018-06-20T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-07-13T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-09-11T00:00:00.000000000',

In [15]:
df_2018['EMPLOYMENT_START_DATE'] - df_2018['CASE_SUBMITTED']

0         40 days
1        111 days
2         27 days
3         35 days
4         97 days
5        183 days
6         17 days
7         33 days
8          3 days
9         92 days
10         9 days
11        25 days
12       146 days
13        14 days
14        22 days
15       181 days
16       179 days
17       182 days
18         5 days
19         6 days
20        45 days
21        72 days
22       158 days
23        32 days
24       183 days
25        88 days
26        44 days
27        87 days
28       105 days
29        53 days
           ...
541525     8 days
541526     8 days
541527     8 days
541528     8 days
541529     7 days
541530     0 days
541531     7 days
541532    14 days
541533   165 days
541534     7 days
541535    76 days
541536    14 days
541537    77 days
541538   126 days
541539    18 days
541540    13 days
541541    52 days
541542    63 days
541543   145 days
541544    78 days
541545    34 days
541546    17 days
541547     0 days
541548   145 days
541549     0 days
541550   111 days
541551    52 days
541552     7 days
541553    96 days
541554     2 days
Length: 541555, dtype: timedelta64[ns]